body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  align-items: center;
  font-size: 200%;
  background-color: #4c5760;
 
}

h1{
  color: #d7ceb2;
}
.field{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 450px;
 
}

.tile{
border: 2px solid #66635b;
box-sizing: border-box;
width: 150px;
height: 150px;
display: flex;
align-items: center;
justify-content: center;
background-color: #93a8ac;
color: #4c5760;
font-weight: bold;
font-size: 5rem;
}

dialog{
  background-color: #93a8ac;
}

button{
  background-color: #d7ceb2;
}