body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  align-items: center;
  font-size: 200%;
}


.field{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 150px;
  margin-right: 15.4%;
}
.tile{
border: 0.5px solid black;
box-sizing: border-box;
width: 150px;
height: 150px;
display: flex;
align-items: center;
justify-content: center;
}